@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Regular.woff2') format('woff2'),
       url('/fonts/SpotifyMix-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpotifyMix';
  src: url('/fonts/SpotifyMix-Bold.woff2') format('woff2'),
       url('/fonts/SpotifyMix-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'SpotifyMix', sans-serif;
  @apply
  bg-white
  dark:bg-slate-900
  duration-300
}